@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    
    .first_row p, .second_row p, .third_row p {
        font-size: 28px;
        letter-spacing: 8px;
        width: 176px;
    }
    
    /* бегущая строка */
    .container {
        height: 40px;
        padding: 40px 0;
    }

    .row {
        width: 3600px;
        height: 45px;
        font-size: 39px;
        letter-spacing: 9px;
    }

    /* анимация для бегущей строки  */
    @keyframes row {
    0% {
        right: -2249px;;
    }
    100% {
        right: calc(100% - 1366px);
    }
    }
    
    /* звездочки  */

    .headerstars {
        height: 222px;
        max-width: 1366px;
        }

    #littlestar1, #littlestar2, #littlestar3, #littlestar4, #littlestar5, #littlestar6, #littlestar7, #littlestar8, #littlestar1 img, #littlestar2 img, #littlestar3 img, #littlestar4 img, #littlestar5 img, #littlestar6 img, #littlestar7 img, #littlestar8 img {
        width: 9px;
        height: 11px;
    }
    
    #smallstar1, #smallstar2, #smallstar3, #smallstar4, #smallstar5, #smallstar6, #smallstar7, #smallstar1 img, #smallstar2 img, #smallstar3 img, #smallstar4 img, #smallstar5 img, #smallstar6 img, #smallstar7 img {
        width: 20px;
        height: 20px;
    }

    #middlestar1, #middlestar2, #middlestar3, #middlestar4, #middlestar5, #middlestar6, #middlestar7, #middlestar1 img, #middlestar2 img, #middlestar3 img, #middlestar4 img, #middlestar5 img, #middlestar6 img, #middlestar7 img {
        width: 23px;
        height: 30px;
    }

    #bigstar1, #bigstar2, #bigstar3, #bigstar4, #bigstar5, #bigstar6, #bigstar7, #bigstar1 img, #bigstar2 img, #bigstar3 img, #bigstar4 img, #bigstar5 img, #bigstar6 img, #bigstar7 img {
        width: 35px;
        height: 35px;
    }
    
    .first_stars {
        height: 58px;
    }

    #littlestar1 {
        margin-top: -9px;
        margin-left: 69px;
    }
    
    #middlestar1 {
        margin-top: -12px;
        margin-left: 207px;
    }
    
    #bigstar1 {
        margin-top: 6px;
        margin-left: 285px;
    }
    
    #middlestar2 {
        margin-top: 6px;
        margin-left: 361px;
    }
    
    #littlestar2 {
        margin-left: 242px;
    }

    .second_stars {
        height: 33px;
    }
    
    #smallstar1 {
        margin-top: 56px;
        margin-left: 161px;
    }
    
    #littlestar3 {
        margin-top: 14px;
        margin-left: 282px;
    }
    
    #smallstar2 {
        margin-top: 26px;
        margin-left: 351px;
    }
    
    #littlestar4 {
        margin-top: 28px;
        margin-left: 300px;
    }

    #bigstar2 {
        margin-top: 62px;
        margin-left: 357px;
    }
    
    #smallstar3 {
        margin-top: 58px;
        margin-left: 272px;
    }
    
    #bigstar3 {
        margin-top: 76px;
        margin-left: 268px;
    }
    
    #middlestar3 {
        margin-top: 45px;
        margin-left: 276px;
    }

    /* насекомые  */
    
    .insects {
        height: 222px;
    }

    #butterfly {
        width: 167px;
        height: 147px;
        margin-top: -140px;
        margin-left: -151px;
    }
    
    #dragonfly {
        width: 150px;
        height: 109px;
        margin-top: -175px;
        margin-left: -139px;
    }
    
    #beetle {
        width: 76px;
        height: 111px;
        margin-top: -223px;
        margin-left: -120px;
    }

    /* первый ряд цветов  */

    .first_row {
        height: 696px;
        max-width: 1366px;
        margin-top: -120px;
    }

    .heartplant {
        margin-right: 30px;
        margin-bottom: 10px;
    }

    #heartplant {
        width: 205px;
        height: 482px;
        margin-bottom: -478px;
        margin-left: -67px;
    }

    .violethearts img {
        width: 44px;
        height: 51px;
    }

    .violethearts {
        margin-left: 57px;
        margin-bottom: 161px;
    }

    #oneheart {
        margin-left: -164px;
        margin-bottom: 62px;
    }

    #twoheart {
        margin-left: -152px;
        margin-bottom: -8px;
    }
    
    #threeheart {
        margin-left: -132px;
        margin-bottom: -13px;
    }
    
    #fourheart {
        margin-left: -110px;
        margin-bottom: -8px;
    }
    
    #fiveheart {
        margin-left: -84px;
        margin-bottom: -11px;
    }
    
    #sixheart {
        margin-left: -58px;
        margin-bottom: -11px;
    }
    
    #sevenheart {
        margin-left: -31px;
        margin-bottom: -10px;
    }

    .heartplant p {
        margin-left: 108px;
        margin-bottom: 33px;
    }

    #pansy {
        width: 217px;
        height: 359px;
        margin-left: -154px;
        margin-right: -80px;
        margin-bottom: 46px;
        background-size: 1519px 724px;
    }
    
    @keyframes pansy {
        0% {
            background-position: 0px top;
        }
        7% {
            background-position: -217px top;
        }
        14% {
            background-position: -434px top;
        }
        21% {
            background-position: -651px top;
        }
        28% {
            background-position: -868px top;
        }
        35% {
            background-position: -1085px top;
        }
        42% {
            background-position: -1302px top;
        }
        49% {
            background-position: 0px -359px;
        }
        56% {
            background-position: -217px -359px;
        }
        63% {
            background-position: -434px -359px;
        }
        70% {
            background-position: -651px -359px;
        }
        77% {
            background-position: -868px -359px;
        }
        84% {
            background-position: -1085px -359px;
        }
        91% {
            background-position: -1302px -359px;
        }
    }
    
    #vcircleplant {
        width: 196px;
        height: 548px;
        margin-left: -30px;
        margin-bottom: 46px;
    }

    .needles img {
        width: 38px;
        width: 38px;
    }
    
    #firstneedle {
        margin-left: 106px;
        margin-bottom: -74px;
        }    

    #secondneedle {
        margin-left: -77px;
        margin-bottom: -39px;
    }

    #thirdneedle {
        margin-left: -97px;
        margin-bottom: -129px;
        }

    #pcircleplant {
        width: 197px;
        height: 331px;
        margin-left: -157px;
        margin-bottom: 52px;
        }
    
    #fourthneedle {
        width: 23px;
        height: 23px;
        margin-left: -66px;
        margin-bottom: -23px;
        }  
    
    #seaplant {
        width: 147px;
        height: 222px;
        margin-left: -83px;
        margin-bottom: 52px;
        background-size: 580px 222px;
    }
    
    @keyframes seaplant { 
        0% {
            background-position: 0 0;
        }
        25% {
            background-position: -145px 0;
        }
        50% {
            background-position: -290px 0;
        }
        75% {
            background-position: -435px 0;
        }
    }
    
    #chamomile {
        width: 168px;
        height: 498px;
        margin-left: -45px;
        margin-bottom: 48px;
        background-size: 1304px 2007px;
    }

    @keyframes chamomile { 
        0% {
            background-position: 0 0;
        }
        4% {
            background-position: -163px 0;
        }
        8% {
            background-position: -326px 0;
        }
        12% {
            background-position: -489px 0;
        }
        16% {
            background-position: -652px 0;
        }
        20% {
            background-position: -815px 0;
        }
        24% {
            background-position: -978px 0;
        }
        28% {
            background-position: -1141px 0;
        }
        32% {
            background-position: 0 -502px;
        }
        36% {
            background-position: -163px -502px;
        }
        40% {
            background-position: -326px -502px;
        }
        44% {
            background-position: -489px -502px;
        }
        48% {
            background-position: -652px -502px;
        }
        52% {
            background-position: -815px -502px;
        }
        56% {
            background-position: -978px -502px;
        }
        60% {
            background-position: -1141px -502px;
        }
        64% {
            background-position: 0 -1004px;
        }
        68% {
            background-position: -163px -1004px;
        }
        72% {
            background-position: -326px -1004px;
        }
        76% {
            background-position: -489px -1004px;
        }
        80% {
            background-position: -652px -1004px;
        }
        84% {
            background-position: -815px -1004px;
        }
        87% {
            background-position: -978px -1004px;
        }
        90% {
            background-position: -1141px -1004px;
        }
        93% {
            background-position: 0 -1506px;
        }
        96% {
            background-position: -163px -1506px;
        }
        99% {
            background-position: -326px -1506px;
        }
    }

    #violetmushroom {
        width: 123px;
        height: 174px;
        margin-left: -67px;
        margin-bottom: 49px;
        background-size: 245px 178px;
    }
    
    @keyframes violetmushroom { 
        0% {
            background-position: 0px 0;
        }
        50% {
            background-position: -123px 0;
        }
    }
    
    .bellflower {
        margin-bottom: 48px;
        width: 219px;
        height: 335px;
        background-size: 1752px 1005px
    }

    @keyframes bellflower { 
        0% {
            background-position: 0 0;
        }
        5% {
            background-position: -219px 0;
        }
        10% {
            background-position: -438px 0;
        }
        15% {
            background-position: -657px 0;
        }
        20% {
            background-position: -876px 0;
        }
        25% {
            background-position: -1095px 0;
        }
        30% {
            background-position: -1314px 0;
        }
        35% {
            background-position: -1533px 0;
        }
        40% {
            background-position: 0 -335px;
        }
        45% {
            background-position: -219px -335px;
        }
        50% {
            background-position: -438px -335px;
        }
        55% {
            background-position: -657px -335px;
        }
        60% {
            background-position: -876px -335px;
        }
        65% {
            background-position: -1095px -335px;
        }
        70% {
            background-position: -1314px -335px;
        }
        75% {
            background-position: -1533px -335px;
        }
        80% {
            background-position: 0 -670px;
        }
        85% {
            background-position: -219px -670px;
        }
        90% {
            background-position: -438px -670px;
        }
        95% {
            background-position: -657px -670px;
        }
    }

    .bellflower p {
        margin-top: 105px;
        margin-left: -34px;
    }
    
    #zigplant {
        margin-left: -140px;
        margin-bottom: 46px;
        width: 200px;
        height: 583px;
        background-size: 997px 3154px;
    }
    
    @keyframes zigplant { 
        0% {
            background-position: 0 0;
        }
        4% {
            background-position: -199px 0;
        }
        8% {
            background-position: -399px 0;
        }
        12% {
            background-position: -598px 0;
        }
        16% {
            background-position: -798px 0;
        }
        20% {
            background-position: 0 -631px;
        }
        24% {
            background-position: -199px -631px;
        }
        28% {
            background-position: -399px -631px;
        }
        32% {
            background-position: -598px -631px;
        }
        36% {
            background-position: -798px -631px;
        }
        40% {
            background-position: 0 -1262px;
        }
        44% {
            background-position: -199px -1262px;
        }
        48% {
            background-position: -399px -1262px;
        }
        52% {
            background-position: -598px -1262px;
        }
        56% {
            background-position: -798px -1262px;
        }
        60% {
            background-position: 0 -1893px;
        }
        64% {
            background-position: -199px -1893px;
        }
        68% {
            background-position: -399px -1893px;
        }
        72% {
            background-position: -598px -1893px;
        }
        76% {
            background-position: -798px -1893px;
        }
        80% {
            background-position: 0 -2524px;
        }
        84% {
            background-position: -199px -2524px;
        }
        88% {
            background-position: -399px -2524px;
        }
        92% {
            background-position: -598px -2524px;
        }
    }
    
    #zagplant {
        width: 13px;
        height: 503px;
        margin-left: 13px;
        margin-bottom: 42px;
        background-size: 67px 2518px;
    }

    @keyframes zagplant { 
        0% {
            background-position: 0 0;
        }
        4% {
            background-position: -13px 0;
        }
        8% {
            background-position: -26px 0;
        }
        12% {
            background-position: -39px 0;
        }
        16% {
            background-position: -52px 0;
        }
        20% {
            background-position: 0 -503px;
        }
        24% {
            background-position: -13px -503px;
        }
        28% {
            background-position: -26px -503px;
        }
        32% {
            background-position: -39px -503px;
        }
        36% {
            background-position: -52px -503px;
        }
        40% {
            background-position: 0 -1006px;
        }
        44% {
            background-position: -13px -1006px;
        }
        48% {
            background-position: -26px -1006px;
        }
        52% {
            background-position: -39px -1006px;
        }
        56% {
            background-position: -52px -1006px;
        }
        60% {
            background-position: 0 -1509px;
        }
        64% {
            background-position: -13px -1509px;
        }
        68% {
            background-position: -26px -1509px;
        }
        72% {
            background-position: -39px -1509px;
        }
        76% {
            background-position: -52px -1509px;
        }
        80% {
            background-position: 0 -2012px;
        }
        84% {
            background-position: -13px -2012px;
        }
        88% {
            background-position: -26px -2012px;
        }
        92% {
            background-position: -39px -2012px;
        }
        96% {
            background-position: -52px -2012px;
        }
    }
    
    #wavymushroom {
        width: 127px;
        height: 289px;
        margin-bottom: 19px;
        background-size: 635px 1446px;
    }
    
    @keyframes wavymushroom { 
        0% {
            background-position: 0 0;
        }
        4% {
            background-position: -127px 0;
        }
        8% {
            background-position: -254px 0;
        }
        12% {
            background-position: -381px 0;
        }
        16% {
            background-position: -508px 0;
        }
        20% {
            background-position: 0 -289px;
        }
        24% {
            background-position: -127px -289px;
        }
        28% {
            background-position: -254px -289px;
        }
        32% {
            background-position: -381px -289px;
        }
        36% {
            background-position: -508px -289px;
        }
        40% {
            background-position: 0 -578px;
        }
        44% {
            background-position: -127px -578px;
        }
        48% {
            background-position: -254px -578px;
        }
        52% {
            background-position: -381px -578px;
        }
        56% {
            background-position: -508px -578px;
        }
        60% {
            background-position: 0 -867px;
        }
        64% {
            background-position: -127px -867px;
        }
        68% {
            background-position: -254px -867px;
        }
        72% {
            background-position: -381px -867px;
        }
        76% {
            background-position: -508px -867px;
        }
        80% {
            background-position: 0 -1156px;
        }
        84% {
            background-position: -127px -1156px;
        }
        88% {
            background-position: -254px -1156px;
        }
        92% {
            background-position: -381px -1156px;
        }
        96% {
            background-position: -508px -1156px;
        }
    }
    
    .daisy {
        margin-bottom: 597px;
        margin-left: 18px;
    }
    
    #daisy {
        width: 191px;
        height: 547px;
        margin-left: -56px;
        margin-bottom: -504px;
    }
    
    #core {
        width: 105px;
        height: 105px;
        margin-left: -67px;
    }

    .daisy p {
        margin-right: 97px;
        margin-top: -232px;
        margin-left: -83px;
    }
    
    /* второй ряд цветов  */
    
    .second_row {
        height: 768px;
        max-width: 1366px;
    }

    .frog {
        margin-left: 192px;
        margin-top: -7px;
    }

    #eyes {
        margin-top: 17px;
        margin-left: -246px;
        width: 162px;
        height: 49px;
        background-size: 649px 50px;
    }

    @keyframes eyes {
        0% {
            background-position: 0px top;
        }
        25% {
            background-position: -162px top;
        }
        50% {
            background-position: -324px top;
        }
        75% {
            background-position: -486px top;
        }
    }

    #animal {
        width: 289px;
        height: 212px
    }
    
    .second_flowers {
        margin-left: -554px;
        margin-bottom: 203px;
    }
    
    .womanbite {
        margin-right: 299px;
        margin-left: 163px;
        margin-bottom: -65px;
        width: 289px;
        height: 282px; 
        background-size: 2890px 282px;
    }
    
    @keyframes womanbite {
        0% {
            background-position: 0px top;
        }
        11% {
            background-position: -289px top;
        }
        22% {
            background-position: -578px top;
        }
        33% {
            background-position: -867px top;
        }
        44% {
            background-position: -1156px top;
        }
        55% {
            background-position: -1445px top;
        }
        66% {
            background-position: -1734px top;
        }
        77% {
            background-position: -2023px top;
        }
        88% {
            background-position: -2312px top;
        }
        99% {
            background-position: -2601px top;
        }
    }
    
    .womanbite p {
        margin-left: 37px;
        margin-top: -77px;
    }
    
    .algae p{
        width: 135px;
        margin-left: 180px;
        margin-top: 503px;
    }
    
    .algae {
        margin-bottom: -4px;
        margin-left: -491px;
        margin-right: 237px;
        width: 322px;
        height: 482px;
        background-size: 644px 482px;
    }
    
    @keyframes algae {
        0% {
            background-position: 0px top;
        }
        50% {
            background-position: -322px top;
        }
    }
    
    #snowdrop {
        margin-left: -224px;
        margin-bottom: -8px;
        width: 136px;
        height: 306px;
        background-size: 963px 1224px;
    }
    
    @keyframes snowdrop {
        0% {
            background-position: 0px top;
        }
        6% {
            background-position: -136px top;
        }
        12% {
            background-position: -272px top;
        }
        18% {
            background-position: -408px top;
        }
        24% {
            background-position: -544px top;
        }
        30% {
            background-position: -680px top;
        }
        36% {
            background-position: -816px top;
        }
        42% {
            background-position: 0px -306px;
        }
        48% {
            background-position: -136px -306px;
        }
        51% {
            background-position: -272px -306px;
        }
        54% {
            background-position: -408px -306px;
        }
        57% {
            background-position: -544px -306px;
        }
        60% {
            background-position: -680px -306px;
        }
        63% {
            background-position: -816px -306px;
        }
        66% {
            background-position: 0px -612px;
        }
        69% {
            background-position: -136px -612px;
        }
        72% {
            background-position: -272px -612px;
        }
        75% {
            background-position: -408px -612px;
        }
        78% {
            background-position: -544px -612px;
        }
        81% {
            background-position: -680px -612px;
        }
        84% {
            background-position: -816px -612px;
        }
        87% {
            background-position: 0px -918px;
        }
        90% {
            background-position: -136px -918px;
        }
        93% {
            background-position: -272px -918px;
        }
        96% {
            background-position: -408px -918px;
        }
        97% {
            background-position: -544px -918px;
        }
        98% {
            background-position: -680px -918px;
        }
        99% {
            background-position: -816px -918px;
        }
    }
    
    .poppy {
        margin-bottom: 369px;
        margin-left: 14px;
    }
    
    #poppy {
        margin-bottom: -459px;
        margin-left: -30px;
        height: 499px;
    }

    #gear {
        margin-left: 14px;
        width: 86px;
        height: 86px;
        background-size: 688px 172px;
    }
    
    @keyframes gear {
        0% {
            background-position: 0px top;
        }
        6% {
            background-position: -86px top;
        }
        12% {
            background-position: -172px top;
        }
        18% {
            background-position: -258px top;
        }
        24% {
            background-position: -344px top;
        }
        30% {
            background-position: -430px top;
        }
        36% {
            background-position: -516px top;
        }
        42% {
            background-position: -602px top;
        }
        48% {
            background-position: 0px -86px;
        }
        54% {
            background-position: -86px -86px;
        }
        60% {
            background-position: -172px -86px;
        }
        72% {
            background-position: -258px -86px;
        }
        78% {
            background-position: -344px -86px;
        }
        84% {
            background-position: -430px -86px;
        }
        90% {
            background-position: -516px -86px;
        }
        94% {
            background-position: -602px -86px;
        }
    }
    
    #pimplymushroom {
        margin-bottom: -7px;
        margin-left: 9px;
        width: 160px;
        height: 184px;
        background-size: 320px 184px;
    }
    
    @keyframes pimplymushroom {
        0% {
            background-position: 0px top;
        }
        50% {
            background-position: -160px top;
        }
    }
    
    #bentgrass {
        margin-left: -110px;
        margin-bottom: -12px;
        width: 177px;
        height: 490px; 
        background-size: 1770px 1470px;
    }
    
    @keyframes bentgrass {
        0% {
            background-position: 0px top;
        }
        3% {
            background-position: -177px top;
        }
        6% {
            background-position: -354px top;
        }
        9% {
            background-position: -531px top;
        }
        12% {
            background-position: -708px top;
        }
        15% {
            background-position: -885px top;
        }
        18% {
            background-position: -1062px top;
        }
        21% {
            background-position: -1239px top;
        }
        24% {
            background-position: -1416px top;
        }
        27% {
            background-position: -1593px top;
        }
        30% {
            background-position: 0px -490px;
        }
        33% {
            background-position: -177px -490px;
        }
        36% {
            background-position: -354px -490px;
        }
        39% {
            background-position: -531px -490px;
        }
        42% {
            background-position: -708px -490px;
        }
        45% {
            background-position: -885px -490px;
        }
        48% {
            background-position: -1062px -490px;
        }
        51% {
            background-position: -1239px -490px;
        }
        54% {
            background-position: -1416px -490px;
        }
        57% {
            background-position: -1593px -490px;
        }
        60% {
            background-position: 0px -980px;
        }
        63% {
            background-position: -177px -980px;
        }
        66% {
            background-position: -354px -980px;
        }
        69% {
            background-position: -531px -980px;
        }
        72% {
            background-position: -708px -980px;
        }
        75% {
            background-position: -885px -980px;
        }
        78% {
            background-position: -1062px -980px;
        }
        81% {
            background-position: -1239px -980px;
        }
        84% {
            background-position: -1416px -980px;
        }
        87% {
            background-position: -1593px -980px;
        }
    }
    
    .septumgrass {
        margin-left: 21px;
        margin-bottom: -3px;
        width: 62px;
        height: 373px;
        background-size: 620px 373px;
    }
    
    @keyframes septumgrass {
        0% {
            background-position: 0px top;
        }
        10% {
            background-position: -62px top;
        }
        20% {
            background-position: -124px top;
        }
        30% {
            background-position: -186px top;
        }
        40% {
            background-position: -248px top;
        }
        50% {
            background-position: -310px top;
        }
        60% {
            background-position: -372px top;
        }
        70% {
            background-position: -434px top;
        }
        80% {
            background-position: -496px top;
        }
        90% {
            background-position: -558px top;
        }
    }

    .septumgrass p{
        margin-left: -69px;
        margin-top: -139px;
    }
    
    #cornflower {
        margin-left: -12px;
        margin-bottom: -3px;
        width: 222px;
        height: 531px;
        background-size: 1110px 531px;
    }
    
    @keyframes cornflower { 
        0% {
            background-position: 0px top;
        }
        20% {
            background-position: -222px top;
        }
        40% {
            background-position: -444px top;
        }
        60% {
            background-position: -666px top;
        }
        80% {
            background-position: -888px top;
        }
    }
    
    #waterplant {
        width: 143px;
        height: 143px;
        margin-left: -79px;
        margin-bottom: -9px;
        background-size: 572px 143px;
    }
    
    @keyframes waterplant { 
        0% {
            background-position: 0px top;
        }
        25% {
            background-position: -143px top;
        }
        50% {
            background-position: -286px top;
        }
        75% {
            background-position: -429px top;
        }
    }

     /* третий ряд цветов  */
    .third_row {
        height: 144px;
        max-width: 1366px;
        margin-top: 404px;
    }

    #insect {
        width: 389px;
        height: 427px;
        margin-top: -631px;
        margin-left: 851px;
    }

    #lights {
        margin-top: -542px;
        margin-left: -352px;
        width: 92px;
        height: 48px;
        background-size: 276px 48px;
    }

    @keyframes lights {
        0% {
            background-position: 0px top;
        }
        33% {
            background-position: -92px top;
        }
        66% {
            background-position: -184px top;
        }
    }
    
    .third_flowers {
        margin-top: -586px;
    }
    
    .narcissus {
        margin-left: 37px;
        margin-top: 96px;
        width: 309px;
        height: 550px;
        background-size: 1236px 1104px;
    }
    
    @keyframes narcissus { 
        0% {
            background-position: 0 0;
        }
        12% {
            background-position: -309px 0;
        }
        24% {
            background-position: -618px 0;
        }
        36% {
            background-position: -927px 0;
        }
        48% {
            background-position: 0 -552px;
        }
        60% {
            background-position: -309px -552px;
        }
        72% {
            background-position: -618px -552px;
        }
        84% {
            background-position: -927px -552px;
        }
    }

    .narcissus p{
        margin-top: 464px;
    }
    
    #smallmushroom {
        margin-left: -85px;
        width: 96px;
        height: 149px;
        background-size: 288px 149px;
    }
    
    @keyframes smallmushroom { 
        0% {
            background-position: 0px 0;
        }
        35% {
            background-position: 96px 0;
        }
        70% {
            background-position: 192px 0;
        }
    }
    

    #violetheartplant {
        margin-left: 22px;
        width: 58px;
        height: 228px;
        background-size: 232px 228px;
    }
    
    @keyframes violetheartplant { 
        0% {
            background-position: 0px 0;
        }
        25% {
            background-position: -58px 0;
        }
        50% {
            background-position: -116px 0;
        }
        75% {
            background-position: -174px 0;
        }
    }
    
    #iris {
        margin-left: -105px;
        width: 341px;
        height: 606px;
        background-size: 2728px 1818px;
    }
    
    @keyframes iris { 
        0% {
            background-position: 0px 0;
        }
        4% {
            background-position: -341px 0;
        }
        8% {
            background-position: -682px 0;
        }
        12% {
            background-position: -1023px 0;
        }
        16% {
            background-position: -1364px 0;
        }
        20% {
            background-position: -1705px 0;
        }
        24% {
            background-position: -2046px 0;
        }
        28% {
            background-position: -2387px 0;
        }
        32% {
            background-position: 0px -606px;
        }
        36% {
            background-position: -341px -606px;
        }
        40% {
            background-position: -682px -606px;
        }
        44% {
            background-position: -1023px -606px;
        }
        48% {
            background-position: -1364px -606px;
        }
        52% {
            background-position: -1705px -606px;
        }
        56% {
            background-position: -2046px -606px;
        }
        60% {
            background-position: -2387px -606px;
        }
        64% {
            background-position: 0px -1212px;
        }
        68% {
            background-position: -341px -1212px;
        }
        72% {
            background-position: -682px -1212px;
        }
        76% {
            background-position: -1023px -1212px;
        }
        80% {
            background-position: -1364px -1212px;
        }
        84% {
            background-position: -1705px -1212px;
        }
        88% {
            background-position: -2046px -1212px;
        }
    }

    #zag {
        width: 13px;
        height: 503px;
        margin-left: -14px;
        margin-bottom: -8px;
        background-size: 67px 2518px;
    }
    
    #zig {
        margin-left: 7px;
        margin-right: 22px;
        margin-bottom: -5px;
        width: 198px;
        height: 583px;
        background-size: 997px 3154px;
    }
    
    .zig p{
        margin-left: -4px;
        margin-bottom: -34px;
    }

    #greenmushroom {
        margin-left: -188px;
        margin-bottom: -16px;
        width: 140px;
        height: 258px;
        background-size: 710px 1260px;
    }
    
    @keyframes greenmushroom { 
        0% {
            background-position: 0 0;
        }
        4% {
            background-position: -142px 0;
        }
        8% {
            background-position: -284px 0;
        }
        12% {
            background-position: -426px 0;
        }
        16% {
            background-position: -568px 0;
        }
        20% {
            background-position: 0 -249px;
        }
        24% {
            background-position: -142px -249px;
        }
        28% {
            background-position: -284px -249px;
        }
        32% {
            background-position: -426px -249px;
        }
        36% {
            background-position: -568px -249px;
        }
        40% {
            background-position: 0 -498px;
        }
        44% {
            background-position: -142px -498px;
        }
        48% {
            background-position: -284px -498px;
        }
        52% {
            background-position: -426px -498px;
        }
        56% {
            background-position: -568px -498px;
        }
        60% {
            background-position: 0 -747px;
        }
        64% {
            background-position: -142px -747px;
        }
        68% {
            background-position: -284px -747px;
        }
        72% {
            background-position: -426px -747px;
        }
        76% {
            background-position: -568px -747px;
        }
        80% {
            background-position: 0 -996px;
        }
        84% {
            background-position: -142px -996px;
        }
        88% {
            background-position: -284px -996px;
        }
    }
    .jasmine {
        margin-bottom: 406px;
        margin-left: -39px;
    }
    
    #jasminebody {
        margin-bottom: -446px;
        margin-left: 43px;
        width: 71px;
        height: 333px;
    }
    
    #jasminehead {
        margin-bottom: -184px;
        margin-left: -54px;
        width: 215px;
        height: 221px;
    }
    
    #periwinklemushroom {
        margin-left: -20px;
        margin-bottom: -42px;
        width: 144px;
        height: 259px;
        background-size: 288px 259px;;
    }
    
    @keyframes periwinklemushroom { 
        0% {
            background-position: 0px 0;
        }
        50% {
            background-position: -144px 0;
        }
    }
    
    #berry {
        margin-left: 32px;
        margin-bottom: -130px;
        width: 103px;
        height: 521px;
        background-size: 309px 521px;;
    }
    
    @keyframes berry { 
        0% {
            background-position: 0px 0;
        }
        35% {
            background-position: -103px 0;
        }
        70% {
            background-position: -206px 0;
        }
    }
    
    #wcircleplant {
        margin-left: -25px;
        margin-top: 254px;
        width: 108px;
        height: 517px;
    }

    .wneedles img {
        width: 22px;
        height: 22px;
    }
    
    #fivthneedle {
        margin-left: -25px;
        margin-bottom: -368px;
        }
    
    #sixthneedle {
        margin-left: 21px;
        margin-bottom: -280px;
        }
    
    #seventhneedle {
        margin-left: 11px;
        margin-bottom: -309px;
        }
    
    .wcircleplant p{
        margin-left: -158px;
        margin-bottom: -222px;
    }
    
    .wcircleplant:hover p {
    opacity: 1;
    }
    
    /* футер со звездочками */

    .footer {
        font-size: 19px;
        letter-spacing: 6px;
        margin-top: 85px;
        max-width: 1366px;
    }

    .info {
        margin-bottom: -10px;
    }

    .info:hover p {
        letter-spacing: 10px;
    }

    #group {
        margin-left: 55px;
    }

    #name {
        margin-left: 55px;
        margin-top: 4px;
    }


    .footerstars {
        height: 108px;
        max-width: 1366px;
        margin-top: -70px;
    }

    .fourth_stars {
        height: 108px;
        margin-top: 67px;
    }

    #littlestar5 {
        margin-top: -97px;
        margin-left: 47px;
    }

    #smallstar4 {
        margin-top: -113px;
        margin-left: 114px;
    }

    #middlestar4 {
        margin-top: -88px;
        margin-left: 100px;
    }

    #littlestar6 {
        margin-top: -73px;
        margin-left: 147px;
    }

    #bigstar4 {
        margin-top: -105px;
        margin-left: 152px;
    }

    #smallstar5 {
        margin-top: -82px;
        margin-left: 140px;
    }

    #bigstar5 {
        margin-top: -98px;
        margin-left: 137px;
    }

    #littlestar7 {
        margin-top: -70px;
        margin-left: 109px;
    }

    #middlestar5 {
        margin-top: -108px;
        margin-left: 66px;
    }

    #smallstar6 {
        margin-top: -70px;
        margin-left: 104px;
    }

    .fivth_stars {
        margin-bottom: -5px;
    }

    #bigstar6 {
        margin-top: -90px;
        margin-left: 374px;
    }

    #middlestar6 {
        margin-top: -76px;
        margin-left: 150px;
    }

    #middlestar7 {
        margin-top: -72px;
        margin-left: 138px;
    }

    #littlestar8 {
        margin-top: -65px;
        margin-left: 159px;
    }

    #smallstar7 {
        margin-top: -64px;
        margin-left: 126px;
    }

    #bigstar7 {
        margin-top: -78px;
        margin-left: 147px;
    }
    }