body {
    background-color: #01001B;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #EAEAEA; 
}

.header {
    overflow:hidden;
}

/* бегущая строка */

.container {
    display: block;
    position: relative;
    overflow: hidden;
}
.row {
    position: absolute;
    animation: row 7s linear infinite;
}

/* звездочки  */
.headerstars {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#littlestar1, #littlestar2, #littlestar3, #littlestar4, #littlestar5, #littlestar6, #littlestar7, #littlestar8 {
    transform: scale(1);
    animation: littlestars 2s ease-in-out infinite;
}

#smallstar1, #smallstar2, #smallstar3, #smallstar4, #smallstar5, #smallstar6, #smallstar7 {
    transform: scale(1);
    animation: littlestars 4s ease-in-out infinite;
}

/* анимация для маленьких и очень маленьких звездочек */
@keyframes littlestars {
    0% {
        transform: scale(1);
      }
    50% {
        transform: scale(2);
      }
    100% {
        transform: scale(1);
      }
}

#middlestar1, #middlestar2, #middlestar3, #middlestar4, #middlestar5, #middlestar6, #middlestar7 {
    transform: scale(0.5);
    animation: bigstars 1s ease-in-out infinite;
}

#bigstar1, #bigstar2, #bigstar3, #bigstar4, #bigstar5, #bigstar6, #bigstar7 {
    transform: scale(0.5);
    animation: bigstars 3s ease-in-out infinite;
}

/* анимация для средних и больших звезд */
@keyframes bigstars {
    0% {
        transform: scale(0.5);
      }
    50% {
        transform: scale(1);
      }
    100% {
        transform: scale(0.5);
      }
}

.first_stars {
    display: flex;
}

.second_stars {
    display: flex;
}

.third_stars {
    display: flex;
}

/* насекомые  */

#butterfly {
    display: block;
    animation: butterfly 4s ease-in-out infinite;
}

@keyframes butterfly {
    0% {
        transform: translate(0vw, -1vw);
    }
    100% {
        transform: translate(110vw, 2.6vw);
    }
}

#butterfly:hover {
    animation-play-state: paused;
}

#dragonfly {
    display: block;
    animation: dragonfly 6s ease-in-out infinite;
}

@keyframes dragonfly {
    0% {
        transform: translate(0vw, 7vw);
    }
    100% {
        transform: translate(110vw, -4vw);
    }
}

#dragonfly:hover {
    animation-play-state: paused;
}

#beetle {
    display: block;
    animation: beetle 8s ease-in-out infinite;
}

@keyframes beetle {
    0% {
        transform: translate(0vw, -1vw);
    }
    100% {
        transform: translate(110vw, 3vw);
    }
}

#beetle:hover {
    animation-play-state: paused;
}


/* первый ряд цветов  */
.first_row {
    display: flex;
    align-items: end;
    margin: auto;
}

.heartplant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.violethearts {
    display: flex;
    flex-direction: column;
}

#oneheart {
    transform: scale(1);
    animation: oneheart 4s ease-in-out infinite;
}

@keyframes oneheart {
    0% {
        transform: scale(0);
      }

    7% {
        transform: scale(1.5);
      }
    
    14% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

#twoheart {
    transform: scale(1);
    animation: twoheart 4s ease-in-out infinite;
}

@keyframes twoheart {
    14% {
        transform: scale(0);
      }

    21% {
        transform: scale(1.5);
      }
    
    28% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

#threeheart {
    transform: scale(1);
    animation: threeheart 4s ease-in-out infinite;
}

@keyframes threeheart {
    28% {
        transform: scale(0);
      }

    35% {
        transform: scale(1.5);
      }
    
    42% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

#fourheart {
    transform: scale(1);
    animation: fourheart 4s ease-in-out infinite;
}

@keyframes fourheart {
    42% {
        transform: scale(0);
      }

    49% {
        transform: scale(1.5);
      }
    
    56% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

#fiveheart {
    transform: scale(1);
    animation: fiveheart 4s ease-in-out infinite;
}

@keyframes fiveheart {
    56% {
        transform: scale(0);
      }

    63% {
        transform: scale(1.5);
      }
    
    70% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

#sixheart {
    transform: scale(1);
    animation: sixheart 4s ease-in-out infinite;
}

@keyframes sixheart {
    70% {
        transform: scale(0);
      }

    77% {
        transform: scale(1.5);
      }
    
    84% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

#sevenheart {
    transform: scale(1);
    animation: sevenheart 4s ease-in-out infinite;
}

@keyframes sevenheart {
    84% {
        transform: scale(0);
      }

    91% {
        transform: scale(1.5);
      }
    
    98% {
        transform: scale(1);
      }
      
    100% {
        transform: opacity(0);
      }
}

.heartplant p {
    transform: rotate(18deg);
    opacity: 0;
    transition: opacity .8s;
}

.heartplant:hover p {
opacity: 1;
}

.violethearts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pansy {
    display: block;
    position: relative;
    background-image: url('../images/pansysprite.svg');
    animation: pansy 3s steps(1) infinite; 
}

#firstneedle {
    transform: scale(0.5);
    animation: thirdneedle 1.5s linear infinite;
    }
    
@keyframes firstneedle {
    0% {
        transform: scale(0.5);
      }
    
    50% {
        transform: scale(1.2);
      }
      
    100% {
        transform: scale(0.5);
      }
 }

#secondneedle {
    transform: scale(0.5);
    animation: thirdneedle 1.5s linear infinite;
    }
    
@keyframes secondneedle {
    0% {
        transform: scale(0.5);
      }
    
    50% {
        transform: scale(1.2);
      }
      
    100% {
        transform: scale(0.5);
      }
 }

#thirdneedle {
    transform: scale(0.5);
    animation: thirdneedle 1.5s linear infinite;
    }
    
@keyframes thirdneedle {
    0% {
        transform: scale(0.5);
      }
    
    50% {
        transform: scale(1.2);
      }
      
    100% {
        transform: scale(0.5);
      }
 }

#fourthneedle {
    transform: scale(1.2);
    animation: fourthneedle 1.5s ease-out infinite;
    }
    
@keyframes fourthneedle {
    0% {
        transform: scale(1.2);
      }
    
    50% {
        transform: scale(0.5);
      }
      
    100% {
        transform: scale(1.2);
      }
 }

#seaplant {
    display: block;
    position: relative;
    background-image: url('../images/seaplantsprite.svg');
    animation: seaplant 2s steps(1) infinite; 
}

#chamomile {
    display: block;
    position: relative;
    background-image: url('../images/chamomilesprite.svg');
    animation: chamomile 3s steps(1) alternate infinite; 
}

#violetmushroom {
    display: block;
    position: relative;
    background-image: url('../images/violetmushroomsprite.svg');
    animation: violetmushroom 0.4s steps(1) infinite; 
}

.bellflower {
    display: block;
    position: relative;
    background-image: url('../images/bellflowersprite.svg');
    animation: bellflower 0.5s steps(1) infinite; 
}

.bellflower p {
    transform: rotate(-28deg);
    opacity: 0;
    transition: opacity .8s;;
}

.bellflower:hover p {
opacity: 1;
}

#zigplant {
    display: block;
    position: relative;
    background-image: url('../images/zigplantsprite.svg');
    animation: zigplant 2s steps(1) infinite; 
}

#zagplant {
    display: block;
    position: relative;
    background-image: url('../images/zagsprite.svg');
    animation: zagplant 2s steps(1) infinite; 
}

#wavymushroom {
    display: block;
    position: relative;
    background-image: url('../images/wavymushroomsprite.svg');
    animation: wavymushroom 2s steps(1) infinite; 
}

.daisy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#core {
    transform: rotate(360deg);
    animation: core 0.5s infinite;
}

@keyframes core {
    0% {
        rotate: 0;
    }
    10% {
        rotate: 36deg;
    }
    20% {
        rotate: 72deg;
    }
    30% {
        rotate: 108deg;
    }
    40% {
        rotate: 144deg;
    }
    50% {
        rotate: 180deg;
    }
    60% {
        rotate: 216deg;
    }
    70% {
        rotate: 252deg;
    }
    80% {
        rotate: 288deg;
    }
    90% {
        rotate: 324deg;
    }
    100% {
        rotate: 360deg;
    }
}

.daisy p {
    transform: rotate(-28deg);
    opacity: 0;
    transition: opacity .8s;;
}

.daisy:hover p {
opacity: 1;
}

/* второй ряд цветов  */

.second_row {
    display: flex;
    margin: auto;
}

.frog {
    display: flex;
    flex-direction: row;
    align-items: start;
    transform: translateZ(0);
}

#animal {
    opacity: 0;
    transition: opacity .8s;
}

.frog:hover #animal {
    opacity: 1;
  }

#eyes {
    display: block;
    position: relative;
    background-image: url('../images/eyessprite.svg');
    animation: eyes 2s steps(1) infinite; 
}

.frog:hover #eyes {
    opacity: 0;
}

.second_flowers {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.womanbite {
    display: block;
    position: relative;
    background-image: url('../images/womanbitesprite.svg');
    animation: womanbite 2s steps(1) alternate infinite; 
}

.womanbite p {
    transform: rotate(-12deg);
    opacity: 0;
    transition: opacity .8s;
}

.womanbite:hover p {
opacity: 1;
}

.algae p{
    transform: rotate(9deg);
    opacity: 0;
    transition: opacity .8s;
}

.algae:hover p {
opacity: 1;
}

.algae {
    display: block;
    position: relative;
    background-image: url('../images/algaesprite.svg');
    animation: algae 1s steps(1) alternate infinite; 
}

#snowdrop {
    display: block;
    position: relative;
    background-image: url('../images/snowdropsprite.svg');
    animation: snowdrop 1s steps(1) infinite; 
}

#gear {
    display: block;
    position: relative;
    background-image: url('../images/gearsprite.svg');
    animation: gear 3s steps(1) infinite; 
}

#pimplymushroom {
    display: block;
    position: relative;
    background-image: url('../images/pimplymushroomsprite.svg');
    animation: pimplymushroom 0.4s steps(1) infinite; 
}

#bentgrass {
    display: block;
    position: relative;
    background-image: url('../images/bentgrasssprite.svg');
    animation: bentgrass 4s steps(1) alternate infinite; 
}

.septumgrass {
    display: block;
    position: relative;
    background-image: url('../images/septumgrasssprite.svg');
    animation: septumgrass 4s steps(1) infinite; 
}

.septumgrass p{
    transform: rotate(-28deg);
    opacity: 0;
    transition: opacity .8s;;
}

.septumgrass:hover p {
opacity: 1;
}

#cornflower {
    display: block;
    position: relative;
    background-image: url('../images/cornflowersprite.svg');
    animation: cornflower 2s steps(1) infinite; 
}

#waterplant {
    display: block;
    position: relative;
    background-image: url('../images/waterplantsprite.svg');
    animation: waterplant 2s steps(1) infinite; 
}

/* третий ряд цветов  */

.third_row {
    margin: auto;
}

.grasshopper {
    display: flex;
    flex-direction: row;
    align-items: start;
    transform: translateZ(0);
}

#insect {
    opacity: 0;
    transition: opacity .8s;
}

.grasshopper:hover #insect {
    opacity: 1;
  }

#lights {
    display: block;
    position: relative;
    background-image: url('../images/lightssprite.svg');
    animation: lights 2s steps(1) infinite; 
}

.grasshopper:hover #lights {
    opacity: 0;
}

.third_flowers {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.narcissus {
    display: block;
    position: relative;
    background-image: url('../images/narcissussprite.svg');
    animation: narcissus 0.4s steps(1) infinite; 
}

.narcissus p{
    transform: rotate(27deg);
    opacity: 0;
    transition: opacity .8s;;
}

.narcissus:hover p {
opacity: 1;
}

#smallmushroom {
    display: block;
    position: relative;
    background-image: url('../images/smallmushroomsprite.svg');
    animation: smallmushroom 2.5s steps(1) infinite; 
}

#violetheartplant {
    display: block;
    position: relative;
    background-image: url('../images/violetheartplantsprite.svg');
    animation: violetheartplant 0.4s steps(1) infinite; 
}

#iris {
    display: block;
    position: relative;
    background-image: url('../images/irissprite.svg');
    animation: iris 3.5s steps(1) alternate infinite; 
}

#zag {
    display: block;
    position: relative;
    background-image: url('../images/zagsprite.svg');
    animation: zagplant 2s steps(1) infinite; 
}

#zig {
    display: block;
    position: relative;
    background-image: url('../images/zigsprite.svg');
    animation: zigplant 2s steps(1) infinite; 
}

.zig p{
    transform: rotate(-47deg);
    opacity: 0;
    transition: opacity .8s;;
}

.zig:hover p {
opacity: 1;
}

#greenmushroom {
    display: block;
    position: relative;
    background-image: url('../images/greenmushroomsprite.svg');
    animation: greenmushroom 1s steps(1) infinite; 
}

#jasminehead {
    transform: rotate(360deg);
    animation: core 1s infinite;
}

@keyframes core {
    0% {
        rotate: 0;
    }
    10% {
        rotate: 36deg;
    }
    20% {
        rotate: 72deg;
    }
    30% {
        rotate: 108deg;
    }
    40% {
        rotate: 144deg;
    }
    50% {
        rotate: 180deg;
    }
    60% {
        rotate: 216deg;
    }
    70% {
        rotate: 252deg;
    }
    80% {
        rotate: 288deg;
    }
    90% {
        rotate: 324deg;
    }
    100% {
        rotate: 360deg;
    }
}

#periwinklemushroom {
    display: block;
    position: relative;
    background-image: url('../images/periwinklemushroomsprite.svg');
    animation: periwinklemushroom 0.4s steps(1) infinite; 
}

#berry {
    display: block;
    position: relative;
    background-image: url('../images/berrysprite.svg');
    animation: berry 1.8s steps(1) infinite; 
}

#fivthneedle {
    transform: scale(1);
    animation: fivthneedle 1.5s linear infinite;
    }
    
@keyframes fivthneedle {
    0% {
        transform: scale(1);
      }
    
    50% {
        transform: scale(2);
      }
      
    100% {
        transform: scale(1);
      }
 }

#sixthneedle {
    transform: scale(1);
    animation: sixthneedle 1.5s linear infinite;
    }
    
@keyframes sixthneedle {
    0% {
        transform: scale(1);
      }
    
    50% {
        transform: scale(2);
      }
      
    100% {
        transform: scale(1);
      }
 }

#seventhneedle {
    transform: scale(1);
    animation: seventhneedle 1.5s linear infinite;
    }
    
@keyframes seventhneedle {
    0% {
        transform: scale(1);
      }
    
    50% {
        transform: scale(2);
      }
      
    100% {
        transform: scale(1);
      }
 }

.wcircleplant p{
    transform: rotate(-23deg);
    opacity: 0;
    transition: opacity .8s;;
}

.wcircleplant:hover p {
opacity: 1;
}

/* футер со звездочками */

.footer {
    margin: auto;
}

.info p {
    transition: 1s ease-in-out;
}

.footerstars {
    display: flex;
    flex-direction: column;
}

.fourth_stars, .fivth_stars {
    display: flex;
}